/*
 * Copyright (C) 2019 Mohammad A. Ewais
 * This program is free software: you can redistribute it and/or modify it under the terms of the GNU Lesser General Public License as published by the Free Software Foundation, version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public License along with this program. If not, see <http://www.gnu.org/licenses/>.
 */

@import url('https://fonts.googleapis.com/css?family=Heebo');

/* General Things */
body {
	height: 100vh;
	width: 100vw;
	margin: 0px;
	padding: 0px;
	font-family: 'Heebo', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: white;
	text-align: center;
}

/* Parent Layout tab stuff */
.tab-div {
	float: left;
	width: 10vw;
	height: 100vh;
	background-image: linear-gradient(70deg, rgb(39, 23, 87), rgb(55, 37, 107));
}

.body-div {
	float: right;
	width: 90vw;
	height: 100vh;
	background-image: linear-gradient(-30deg, rgb(32, 19, 71), rgb(73, 50, 143));
}

.tabs-container {
    width: 10vw;
	border-left: 0px !important;
    border-right: 0px !important;
    border-top: 0px !important;
    border-bottom: 0px !important;
}

.tabs {
    background-color: transparent;
    border-left: 0px !important;
    border-right: 0px !important;
    border-top: 0px !important;
    border-bottom: 0px !important;
}

.unselected-tab {
	background-color: transparent !important;
    color: white;
    padding: 10px !important;
    border-left: 0px !important;
    border-right: 0px !important;
    border-top: 0px !important;
    border-bottom: 0px !important;
}

.selected-tab {
	background-color: rgba(0, 0, 0, 0.4) !important;
    color: white !important;
    padding: 10px !important;
    border-left: 0px !important;
    border-right: 0px !important;
    border-top: 0px !important;
    border-bottom: 0px !important;
}

.tab-body {
	background-color: transparent;
	color: white;
}

/* Time Floater */
.time-floater {
	background-color: transparent;
	color: white;
	position: absolute;
	bottom: 5px;
	right: 5px;
}

.time-floater h5 {
	text-align: right;
	margin: 5px;
}

/* Divs Layout */
.one-third {
	background-color: transparent;
	color: white;
	width: 33%
}

.one-half {
	background-color: transparent;
	color: white;
	width: 50%
}
